
@font-face { font-family: "et-book";
	     src: url("fonts/et-book/et-book-roman-line-figures.woff");
	     font-weight: normal;
	     font-style: normal; }

@font-face { font-family: "et-book";
	     src: url("fonts/et-book/et-book-display-italic-old-style-figures.woff");
	     font-weight: normal;
	     font-style: italic; }

@font-face { font-family: "et-book";
	     src: url("fonts/et-book/et-book-bold-line-figures.woff");
	     font-weight: bold;
	     font-style: normal; }

@font-face { font-family: "Roboto";
	     src: url("fonts/roboto/Roboto-Bold.ttf");
	     font-weight: bold;
	     font-style: normal; }
@font-face { font-family: "Roboto";
	     src: url("fonts/roboto/Roboto-Regular.ttf");
	     font-weight: normal;
	     font-style: normal; }

@font-face { font-family: "source-serif";
	     src: url("fonts/source-serif/SourceSerif4-Black.ttf.woff");
	     font-weight: bold;
	     font-style: normal; }

div.input {
    flex-direction: column !important;
}

div.input_area {
    border-radius: 0px 0px 8px 8px;
}

html {
    font-family: 'et-book' !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFEFD;
}

.jp-RenderedHTMLCommon{
    color: #555966 !important;
}

.jp-Notebook{
    background: transparent !important;
}

body {
    font-family: 'et-book' !important;
    max-width: 800px;
    width: 100%;
}

.jp-RenderedHTMLCommon p, .jp-RenderedHTMLCommon > :last-child {
    margin-bottom: 1em;
    margin-top: 1em;
}

.dataframe {
    margin: 0 auto !important;
}

table.dataframe tbody tr th {
    font-style: normal;
}

td {
    font-size: 13px;
}

th {
    font-size: 14px;
    color: #91a0b7;
}

h2, h3, h4, h5, h6, h7, h8 {
    font-family: 'et-book', sans-serif !important;
}

p, li, .csl-entry {
    font-family: 'et-book' !important;
    line-height: 1.75em;
    font-size: 1.2rem;
}

pre {
    font-family: 'Roboto Mono', monospace !important;
}

.jp-RenderedText.jp-OutputArea-output pre {
    padding: 10px !important;
    background: #fff !important;
    margin: 10px !important;
    white-space: pre;
    border-radius: 10px;
    border: 1px solid #ced2dd;
    line-height: 25px;
    font-family: et-book !important;
    font-size: 15px;
}

.CodeMirror {
    overflow: auto !important;
}

.jp-RenderedText.jp-OutputArea-output pre {
    padding: 10px !important;
    background: #fff !important;
    margin: 10px !important;
    white-space: pre !important;
    border-radius: 10px;
    border: 1px solid #ced2dd;
}

code {
    font-size: inherit !important;
}

.jp-InputArea {
    overflow: hidden;
    align-content: center;
    justify-content: left;
    margin: 2px;
    background: linear-gradient(180deg, transparent 0%, transparent 48%, rgb(227, 234, 233) 50%, transparent 52%, transparent 100%);
}

table.dataframe thead tr {
    color: #6F7695;
}

tr td, tr, th{
    background-color: transparent !important;
    color: #6f747d;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
    font-style: normal !important;
    text-decoration: none !important;
    font-weight: bold !important;
    color: #555966 !important;
}

h1{
    font-family: "source-serif" !important;
    font-size: 4rem !important;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 0rem;
    color: #353534 !important;
}

h2{
    font-size: 2.2rem !important
}

h3{
    font-size: 1.9rem !important
}

h4, h5, h6, h7, h8{
    font-size: 1.6rem !important;
    padding: 20px 0px !important;
}

.jp-Cell-inputWrapper, .jp-Cell-outputWrapper {
    margin: 5px 0px;
}

.jp-RenderedImage.jp-OutputArea-output {
    margin: 30px 0px;
}

div.code_shower {
    background: lightgray;
    padding: 0px 4px !important;
    cursor: pointer;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    background: #fff !important;
    border: 1px solid rgb(227, 234, 233);
    color: #c2c4ca !important;
    font-weight: normal;
    max-width: 22px;
    line-height: 29px;
}

.csl-bib-body {
    margin: 30px 0px;
}

.csl-entry {
    margin: 15px 0px;
}

.caption {
    border-top: 1px dotted #a5a8b0;
    margin: 0px 0px 0px 0px !important;
    padding-top: 20px;
    text-align: center !important;
    color: #7d7e84;
    font-size: .9em;
}

.jp-InputArea-editor {
    background: #fcfcfd !important;
    opacity: .9;
}

.highlight {
    background: transparent !important;
}

.datalink, .notelink {
    border-radius: 5px;
    background: #f0f4f9;
    color: #596e8a !important;
    padding: 2px 6px;
}

.datalink:hover, .notelink:hover {
    background: #7ba9ea;
    color: white !important;
    text-decoration: none !important;
}

.abstract_title {
    text-align: center;
    font-size: 1.3em;
}

.abstract > p {
    border: 1px solid #e3eae9;
    border-radius: 5px;
    padding: 20px;
    background: #fafafb;
}

.indexcall {
    text-align: center;
    line-height: 1;
    margin: 10px 0px 0px 0px;
    padding: 5px;
}

.index_subtitle {
    font-family: "Roboto";
    font-size: .8rem;
    text-align: center;
    color: #555966;
    padding: 5px;
}

.indexcall a {
    font-family: "source-serif";
    margin: 0;
    color: #555966;
    width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.indexcall a:hover{
    color:  #353e59;
}

.jp-RenderedHTMLCommon img, .jp-RenderedImage img, .jp-RenderedHTMLCommon svg, .jp-RenderedSVG svg {
    max-width: 99%;
    border: 1px solid #e3eae9;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img {
    cursor: zoom-in;
}

blockquote {
    border-left: 0px !important;
    opacity: .8;
}

blockquote p {
    font-size: 1.4rem;
}

.todo {
    background: white;
    padding: 5%;
    border: 1px solid #dcdddf;
    border-radius: 25px;
    font-size: 14px;
}
.todo p {
    margin: 5px 20px 20px 20px;
    font-size: 2em;
    text-align: center;
    line-height: 1.3;
}

.todo ul {
    list-style: none;
}

.todo li {
    padding: 5px 0px;
    font-size: 1.2em;
}

.todo li::before {
    content: "\2022";
    color: #04A5BB;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 1.5em;
}

.zoomed {
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 12px 0px rgb(230, 228, 238);
}


.dataTables_filter label {
	color: #555966;
}

.dataTables_filter input {
	border: 1px solid #dcdddf !important;
	background: #f7f7f7 !important;
margin: 10px;
color: #555966;
}

.dataTables_info {
	color: #555966 !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom: 1px solid #dfe0e1 !important;
	overflow-x: hidden !important;
	max-height: 100% !important;
}

.dataTable thead th {
	border-bottom: 1px solid #dfe0e1 !important;
}

.dataTables_info {
	color: #555966 !important;
	padding: 20px 10px 10px 10px !important;
	font-size: .8rem;
	float: right !important;
}

.paginate_button.current {
    background: white !important;
    border: 1px solid #dcdcdf !important;
}

td, th {
    text-align: left !important;
}

.dataTables_length select {
    background: white !important;
    border: 1px solid #dcdcdf !important;
    margin: 0px 5px;
}


.footer {
    margin-top: 40px;
    padding: 20px;
    border-top: 1px solid #e3e6ea;
}

.contact {
    font-family: "Roboto";
    text-align: center;
    font-size: .8rem;
    color: #555966;
}

.contacto_tipo {
    padding: 10px;
    opacity: .7;
}

.contacto_valor{
}

.jp-OutputArea {
    overflow: clip !important;
    max-width: 100%;
}
.plotly-graph-div {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
`
