@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');

:root {
    --theme-background-a: #f9f9f9;
}

table input[type="checkbox"] {
    visibility: hidden;
}

thead {
    display: none;
}

th {
    z-index: 10;
}

.busquedaContenedor {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.busquedaContenedor input {
    border-radius: 5px;
    border: 1px solid var(--theme-foreground);
    padding: 5px 10px;
}

.capa {
    font-family: Archivo;
    margin: 5px;
    font-size: 15px;
    display: flex;
}

.capa .imagenContenedor {
    margin: 15px 15px 10px 0px;
}

.capa .imagen {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.capa .nombreContenedor {
    margin: 10px 0px
}

.capa .nombre {
    display: flex;
    align-items: baseline;
    column-gap: 10px;
    margin: 8px 0px;
    max-width: 500px;
    flex-wrap: wrap;
}

.capa .titulo {
    font-size: 1.1em
}

.capa .nombreTexto {
    font-size: .7em;
    opacity: .6
}

.capa .descripcion {
    font-size: .7em;
    max-width: 500px;
    margin: 8px 0px;
    white-space: normal
}

.capa .geoserver {
    font-size: .7em;
    max-width: 500px;
    margin: 8px 0px;
    white-space: normal
}

.capa .fechas {
    margin: 8px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px
}

.capa .fecha {
    font-size: .7em;
    opacity: .7
}

.capa .enlaces {
    margin: 10px 0px;
    font-size: .7em;
    display: flex;
    gap: 8px;
}

.capa .enlace {
    padding: 2px 6px;
    border-radius: 4px;
    color: inherit;
    border: 1px solid #c9c9c9;
    background: #c9c9c9aa;
}

.capa .enlace.enlaceWms {
    border: 1px solid #d9be95;
    background: #d9be95aa;
}

.capa .enlace.enlaceWfs {
    border: 1px solid #bddefa;
    background: #bddefaaa;
}

.footer {
    font-size: .7em;
    opacity: .7;
    text-align: center;
} 

@media (prefers-color-scheme: dark) {
    .capa .enlace {
        color: #1f2022;
    }
}